.board {
  flex: 1;
  padding: 20px;
  background: white;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: auto;
}

.board-block {
  display: inline-block;
}

.board-block__image {
  width: 5rem;
  height: 5rem;
}

.board-block_active {
  border: 3px dotted lime;
}

.board-block_inactive {
  border: none;
}